﻿html, body {
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    background: linear-gradient(#b4b4b4, #ffffff);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}

header {
    background: #ffffff;
    width: 100%;
    color:#72b0d8;
}

header div {
    padding: 0;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.green {
    border-bottom-color: #afbd12;
}

.red {
    border-bottom-color: #ec6708;
}

.blue {
    border-bottom-color: #63b9ea;
}

#status {
    background: #ec6708;
    border: 1px solid #9c2708;
    color: 1px solid #4c0708;
    padding: 8px;
}

main, h1 {
    width: 768px;
    margin: 0 auto;
    padding: 12px;
    background: #ffffff;
}

table#admin td, table#admin tr {
    border: 1px solid #63b9ea;
    padding: 12px;
}

form {
    margin: 0px;
}

#bilder {
    float: right;
}

#bilder img {
    height: 60px;
}
